
<p>Sukurkime WEB aplikaciją kuri būtų skirta išsisaugoti pirkinių sąrašą</p>
<p>Įvedimo formoje turėtų būti įvedimo laukai: prekė, kiekis ir mygtukas pridėti. </p>
<p>Kiekviena prekė turėtų būti pridedama į masyvą, o masyvas atvaizduojamas puslapyje.  
</p>

<p>Patobulinkime aplikaciją taip, kad prekių sąrašas būtų išsaugomas į localstorage, 
o užsikraunant aplikacijai išsaugotas (jei toks egzistuoja) sąrašas būtų užkraunamas iš localstorage.  
</p>
<p>
Aplikacijoje padarykite mygtuką visų prekių ištrynimui, 
taip pat padarykite prie kiekvienos prekės mygtuką "ištrinti" kurį paspaudus būtų panaikinama tik ta prekė.
</p>

<app-add-item></app-add-item>
<app-show-items></app-show-items>

<!--<div>
    <input type="text" placeholder="Prekė" [(ngModel)]="newItem.name">
    <input type="number" placeholder="Kiekis" [(ngModel)]="newItem.quantity">
    <button (click)="addItem()">Pridėti</button>
</div>
<ul>
    <li *ngFor="let item of items">
        {{ item.name }} - {{ item.quantity }}
        <button (click)="removeItem(item)">Ištrinti</button>
    </li>
</ul>
<button (click)="clearItems()">Ištrinti visus</button></div>-->