<h2>Užduotis:</h2>
<ul>
    <li>Sudaryti sistemą, kuri būtų jūsų pasirinktas sąrašas</li>
    <li>Kiekvienas įrašas turi turėti kelis laukelius</li>
    <li>Sistemoje turi būti CRUD</li>
    <li>Sistema duomenis turi saugoti į ir pasiimti iš Firebase</li>
    <li>Sistemoje turi būti autentifikacija</li>
    <li>Sistemoje turi būti validacijos laukai bei aiškios klaidos</li>
</ul>

<h2>Sukurta sistema "Žaidimų sąrašas" :</h2>

<app-auth-page></app-auth-page>
<app-api></app-api>
<!--<app-api-page></app-api-page>-->
